* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
}



.gameSpace {
    width: 60%;
    height: 50rem;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 4px;
}

.markerInfo {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(1fr, 2);
    align-items: center;
}
.gameBoard {
    grid-row: 2 / 3;
    margin-left: 18rem;
    margin-right: 18rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.gameBoard .gameCell {
    grid: span 1 / span 1;
    border: 4px solid rgb(30, 30, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.resetButton {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.restartBtn {
    font-size: 1.5rem;
}

.marker {
    /* all: unset; */
    width: 8rem;
    font-size: 1.4rem;
    background-color: white;
    color: black;
    /* background-color: beige;
    display: flex;
    justify-content: center;
    cursor: pointer; */
}


/* borders */
div.gameCell.no-b-tl {
    border-top: none;
    border-left: none;
}
div.gameCell.no-b-t {
    border-top: none;
}
div.gameCell.no-b-tr {
    border-top: none;
    border-right: none;
}
div.gameCell.no-b-l {
    border-left: none;
}
div.gameCell.no-b-r {
    border-right: none;
}
div.gameCell.no-b-lb {
    border-bottom: none;
    border-left: none;
}
div.gameCell.no-b-b {
    border-bottom: none;
}
div.gameCell.no-b-br {
    border-bottom: none;
    border-right: none;
}


dialog {
    min-width: 50ch;
    min-height: 40ch;
    border: 0;
    border-radius: 5%;
    gap: 2rem;
    margin: auto;
    opacity: .8;
}
#resultText {
    grid-row: 1 / 2;
    margin: auto;
    font-size: 4rem;
}

dialog > button {
    margin:auto;
    width: 80%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .2);
}

.wrapper {
    display: grid;
    grid-template-rows: 4fr 1fr;
    align-items: center;
    justify-content: center;
    min-height: 20rem;
}
