body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.container {
    margin: auto;
    height: 95vh;
    width: 600px;
    display: grid;
    grid-template-rows: 1.5fr 5fr 1fr;
    position: relative;
}

.gameInfo {
    height: 50px;
    border: 2px solid grey;
    margin: 2rem;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    gap: .5rem;
    padding: 1rem;
}

.playerContainer text {
    font-size: .8rem;
}

.playerInfo {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.6rem;
}

#turnInfo {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    text-align: center;

}

#gameArea {  
    grid-row: 2 / -1;
    background-color: grey;
    margin: 0 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .25rem;
    border: 2px solid grey;
    padding: 1rem;
}

#gameArea > div {
    padding: 1rem;
    background-color: white;
}
.gameCell {
    grid-row: span 1;
    grid-column: span 1;
    padding: 1rem;
    transition: transform 0.1s ease;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameCell:hover {
    transform: scale(1.01);
    cursor: pointer;
}

#container2 {
    display: none;
}
.final {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.startBtnDiv {
    grid-row: 4 / -1;
    text-align: center;
    padding-top: 3rem;
}

.startBtn {
    font-size: 1.5rem;
    padding: .6rem;
    outline: none;
    /* border: none; */
    border-radius: 2rem;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Background color */
    opacity: 0.09; /* Opacity (0 to 1) */
    z-index: 1; /* Place it below the content div */
}

.content {
    position: relative;
    z-index: 2; /* Place it above the background div */
    /* Additional styles for the content div */
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 10px;
}